services:
  pythonapp:
    build:
      context: ../../../../
      dockerfile: homeworks/dudnyk/module-2/lesson-4/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - APP_STORE=redis
      - APP_REDIS_URL=redis://redis:6379/0

  redis:
    image: redis:8.0
    container_name: redis-lesson-5
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      retries: 5

    volumes:
      - redis_data:/data

volumes:
  redis_data: