version: "3.9"

services:
  course-app:
    build:
      context: ../../../../        # context = lesson-05
      dockerfile: homeworks/gryshchenko/module-2/lesson-04/Dockerfile
    container_name: course-app
    ports:
      - "8080:8080"

    environment:
      APP_MESSAGE: "Hello from Docker Compose!"
      APP_STORE: redis
      APP_REDIS_URL: redis://redis:6379/0
      APP_DB_PATH: /data/app.db

    volumes:
      - appdata:/data

    depends_on:
      redis:
        condition: service_healthy

    restart: unless-stopped

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data

    restart: unless-stopped

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

volumes:
  redis_data:
  appdata:
