# Виключаємо директорії, які не потрібні у контейнері
.git
.gitignore

# Виключаємо локальні бінарні файли та результати збірки
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Виключаємо IDE і системні файли
.vscode
.idea
*.swp
.DS_Store

# Виключаємо тимчасові файли
*.log
tmp/
