version: '3.8'

services:
  course-app:
    build:
      context: ../../../..
      dockerfile: homeworks/dtimchuk/module-2/lesson-04/Dockerfile
    container_name: course-app
    ports:
      - "8080:8080"
    environment:
      - APP_STORE=redis
      - APP_REDIS_URL=redis://dragonfly:6379/0
    depends_on:
        dragonfly:
            condition: service_healthy
    healthcheck:
      # use readyz endpoint to check if app is ready and dragonfly is connected
      test: ["CMD", "curl", "-f", "http://localhost:8080/readyz"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped
    networks:
      - common-network
    volumes:
      - app-data:/app/data
  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:latest
    container_name: dragonfly
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "-h", "localhost", "-p", "6379", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    volumes:
      - dragonfly-data:/data
    restart: unless-stopped

networks:
  common-network:
    driver: bridge

volumes:
  app-data:
    driver: local
  dragonfly-data:
    driver: local
